<app-nav-bar></app-nav-bar>
<mat-card>
  <form >
      <mat-form-field class="full-width">
     <mat-label>Username</mat-label>
          <input  matInput  placeholder="emailId" name="emailId" [(ngModel)]="user.emailId">
        </mat-form-field><br>
          <mat-form-field class="full-width">
        <mat-label>Current Password</mat-label>
        <input  matInput  placeholder="current Password" name="Password" >
     </mat-form-field><br>
    <mat-form-field class="full-width">
        <mat-label>New Password</mat-label>
        <input  matInput  placeholder="new Password" name="new password" [(ngModel)]="user.password">
     </mat-form-field><br>
<mat-button-toggle-group name="fontStyle" aria-label="Font Style">
  <button class="btn btn-success" (click)="ChangePassword()"
  [routerLink]="['/home']" routerLinkActive="active" >Change Password</button>
  </mat-button-toggle-group>

  <!-- <input type=button onclick="ChangePassword()" Value="Change Password"> -->
 </form>
</mat-card>  
